* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --background: #000430;
    --secondarybackground: #171c48;
    --text: #fff;
    --purple: #828dff;
    --teal: #24feee;
}

body {
    background-color: var(--background);
    color: var(--text);
}

#main-container {
    /* background-color: #24feee; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    max-width: 500px;
    margin: 120px auto 0 auto;
}

#stats-container {
    /* background-color: #828dff; */
    padding: 35px;
    border-radius: 20px;
    border: 3px solid var(--purple);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 40px;
}

#ditails {
    width: 100%;
}

#ditails>h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
}

#ditails>p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

#progressBar {
    width: 100%;
    height: 10px;
    background-color: var(--secondarybackground);
    border-radius: 5px;
    margin-top: 20px;
}

#progress {
    width: 50%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all ease-in-out 2s;
}

#number {
    background-color: var(--purple);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50rem;
    font-family: sans-serif;
    font-size: 1.1rem;
}

form {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

input {
    flex: 1;
    padding: 10px;
    background-color: var(--secondarybackground);
    border: 2px solid var(--purple);
    border-radius: 10px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 40px;
    height: 40px;
    background-color: var(--purple);
    border-radius: 50px;
    border: none;
    font-size: 30px;
    color: var(--text);
    cursor: pointer;
}

#tesk-list {
    display: flex;
    flex-direction: column;
    gap: 10p;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}

.teskItem {
    width: 100%;
    display: flex;
    background-color: var(--secondarybackground);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.tesk {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tesk input {
    width: 20px;
    height: 20px;
}


.tesk p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.completed p{
    text-decoration: line-through;
    color: var(--teal);

}

.teskItem img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}

/* #tesk-list{
    margin-top: 60px;
} */